# Consolidating the Data

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/clickbait_data.csv')

In [3]:
data

                                                headline  clickbait
0                                     Should I Get Bings          1
1          Which TV Female Friend Group Do You Belong In          1
2      The New "Star Wars: The Force Awakens" Trailer...          1
3      This Vine Of New York On "Celebrity Big Brothe...          1
4      A Couple Did A Stunning Photo Shoot With Their...          1
...                                                  ...        ...
31995  To Make Female Hearts Flutter in Iraq, Throw a...          0
31996  British Liberal Democrat Patsy Calton, 56, die...          0
31997  Drone smartphone app to help heart attack vict...          0
31998  Netanyahu Urges Pope Benedict, in Israel, to D...          0
31999  Computer Makers Prepare to Stake Bigger Claim ...          0

[32000 rows x 2 columns]

# Pre-processing Text

# Feature Engineering

In [4]:
data['headline'] = data['headline'].apply(lambda x: x.lower())

In [5]:
data

                                                headline  clickbait
0                                     should i get bings          1
1          which tv female friend group do you belong in          1
2      the new "star wars: the force awakens" trailer...          1
3      this vine of new york on "celebrity big brothe...          1
4      a couple did a stunning photo shoot with their...          1
...                                                  ...        ...
31995  to make female hearts flutter in iraq, throw a...          0
31996  british liberal democrat patsy calton, 56, die...          0
31997  drone smartphone app to help heart attack vict...          0
31998  netanyahu urges pope benedict, in israel, to d...          0
31999  computer makers prepare to stake bigger claim ...          0

[32000 rows x 2 columns]